doctype 5
html
  head
    title ossHS - Online Hackathon for Teens
    link(href="/main.css", type="text/css", rel="stylesheet")
  body
    != yield
   footer
    p
     | &copy; 2013 ossHS. All Rights Reserved.
