#main
  h1.main ossHS
  h3.tagline Open-Source Hackathon for High Schoolers
  a.register(href="#") Register Now
#about
  .what
    h2 What is ossHS?
    p
     | ossHS is a 48-hour hackathon where high school students can build cool projects for the front-end, backend, or for native desktop and mobile cliets, except there's a catch: it has to be open-source.
   .where
     h2 Where is ossHS?
     p
       | In short, anywhere! It's completely online and virtual, so that means you can sit at home and hack some cool stuff up, all while being part of a global competition.
   .talk
     h2 Where can I talk to other participants?
     p
       | To discuss ossHS and chat with others during the competition, you can head over to our subreddit at 
       a(href='http://reddit.com/r/ossHS') /r/ossHS 
       | or on our IRC channel at #ossHS.

